.events {
  &-section {
    margin-top: 70px;
    &__wrapper {
      display: grid;
      row-gap: 20px;
      margin-top: 40px;

      @include on-tablet {
        margin-top: 48px;
      }

      @include on-desktop {
        margin-top: 56px;
      }

      @include page-grid;

      .card {
        &:first-child {
          .card__img-wrapper {
            margin-top: 0;
          }
        }
      }
    }

    @include on-desktop {
      margin-top: 200px;
    }
    &__title {
      grid-column: 1 / -1;
      width: 100%;
      text-align: center;

      @include on-tablet {
        text-align: left !important;
      }
    }
  }

  @include page-grid;
}
