@import 'utils';

.type {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: $gray-accent;
  text-transform: uppercase;
}

.date {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 150%;
  color: $green-accent;
}

html {
  scroll-behavior: smooth;
}

html:has(.menu:target) {
  overflow: hidden;
}

a {
  color: $main-accent;
  text-decoration: none;
}

body {
  margin: 0;
}

@import './elements/container';
@import './elements/nav';
@import './elements/card';
@import './elements/slider';
@import './elements/pagination';
@import './elements/input';
@import './elements/title';

@import './blocks/header';
@import './blocks/menu';
@import './blocks/events';
@import './blocks/about';
@import './blocks/gallery';
@import './blocks/subscribe';
@import './blocks/footer';
