@mixin page-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }
}

@mixin add-transition($properties) {
  transition-duration: 300ms;
  transition-property: $properties;

  transition-behavior: linear;
}

@mixin on-tablet {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin on-desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
